# Docker ignore file to speed up builds
.git
.github
*.md
*.log
.gitignore
.dockerignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.idea
.vscode
.mypy_cache
.pytest_cache
